Repository lykoffant/movies: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:es, npm run lint:style

build: install Redux
  package-lock.json
  package.json
Due: none

build: install Material UI
  package-lock.json
  package.json
  src/main.tsx
Due: npm run lint:es

build: install React Router DOM
  package-lock.json
  package.json
Due: none

chore: update keywords in package.json
  package.json
Due: none

build: uninstall the redux-thunk package
  package-lock.json
  package.json
Due: none

build: configure code correction before commit
  .lintstagedrc
Due: none

chore: rename the project
  README.md
  index.html
  package-lock.json
  package.json
Due: none

docs: update the short description in the readme
  README.md
Due: none

chore: update the description in package.json
  package.json
Due: none

build: uninstall typescript-plugin-css-modules
  package-lock.json
  package.json
  tsconfig.json
Due: none

feat: add a favicon
  index.html
  public/favicon.png
Due: none

feat: add a search page with a starting layout
  src/App.module.scss
  src/App.tsx
  src/components/Header.tsx
  src/components/HeaderName.tsx
  src/components/Layout.tsx
  src/components/LogoIcon.tsx
  src/components/RepoLink.tsx
  src/index.scss
  src/main.tsx
  src/pages/SearchPage.tsx
Due: npm run lint:es, npm run lint:style

feat: add a basic search by name
  src/components/FoundItem.tsx
  src/components/FoundList.tsx
  src/components/SearchForm.tsx
  src/hooks/useAppDispatch.ts
  src/hooks/useAppSelector.ts
  src/main.tsx
  src/pages/SearchPage.tsx
  src/store/foundListSlice.ts
  src/store/index.ts
  src/types/data.types.ts
Due: npm run lint:es

feat: add search error display
  src/components/ErrorAlert.tsx
  src/pages/SearchPage.tsx
Due: npm run lint:es

feat: add search by type
  src/components/SearchForm.tsx
  src/store/foundListSlice.ts
  src/types/data.types.ts
Due: npm run lint:es

feat: add URL search params
  src/components/SearchForm.tsx
Due: npm run lint:es

feat: add pagination to the search page
  src/components/FoundListPagination.tsx
  src/components/SearchForm.tsx
  src/pages/SearchPage.tsx
  src/store/foundListSlice.ts
  src/types/data.types.ts
Due: npm run lint:es

refactor: move part of SearchForm to SearchInput
  src/components/SearchForm.tsx
  src/components/SearchInput.tsx
Due: npm run lint:es

refactor: move part of SearchForm to RadioButtonGroup
  src/components/RadioButtonGroup.tsx
  src/components/SearchForm.tsx
Due: npm run lint:es

fix: update the page number when searching
  src/components/FoundListPagination.tsx
  src/components/SearchForm.tsx
  src/store/foundListSlice.ts
Due: npm run lint:es

refactor: split the URL for the search query
  src/store/foundListSlice.ts
Due: npm run lint:es

refactor: simplify the formation of URL params
  src/store/foundListSlice.ts
Due: npm run lint:es

fix: adjust the definition of the initial page number
  src/constants/pagination.constants.ts
  src/pages/SearchPage.tsx
  src/store/foundListSlice.ts
Due: npm run lint:es

feat: add a back to top button
  src/components/BackToTopButton.tsx
  src/components/Header.tsx
  src/components/Layout.tsx
Due: npm run lint:es

feat: add placeholders for unavailable posters
  src/components/FoundItem.tsx
Due: npm run lint:es

feat: add explanatory info with the full title
  src/components/FoundItem.tsx
Due: npm run lint:es

feat: add a page for unknown routes
  src/App.tsx
  src/components/BackButton.tsx
  src/components/Header.tsx
  src/components/Layout.tsx
  src/pages/NotFoundPage.tsx
Due: npm run lint:es

refactor: compose imports in BackToTopButton
  src/components/BackToTopButton.tsx
Due: npm run lint:es

feat: add a page with detailed info
  src/App.tsx
  src/components/DetailedItem.tsx
  src/pages/DetailsPage.tsx
  src/store/detailedItemSlice.ts
  src/store/index.ts
  src/types/detailed-response.types.ts
Due: npm run lint:es

refactor: compose types
  src/components/FoundItem.tsx
  src/components/FoundListPagination.tsx
  src/components/RadioButtonGroup.tsx
  src/components/SearchForm.tsx
  src/pages/SearchPage.tsx
  src/store/detailedItemSlice.ts
  src/store/foundListSlice.ts
  src/types/common.types.ts
  src/types/detailed-response.types.ts
  src/types/search-response.types.ts
Due: npm run lint:es

ci: add the release-please workflow
  .github/workflows/release-please.yml
Due: none

chore: add the MIT License
  LICENSE
Due: none

chore: add information about the project license
  README.md
  package-lock.json
  package.json
Due: none

docs: add a Demo section
  README.md
Due: none

feat: add placeholder for N/A poster in DetailedItem
  src/components/DetailedItem.tsx
Due: npm run lint:es

docs: update the link to the demo in CodeSandbox
  README.md
Due: none

Path conditions:
  npm run lint:es: any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}
  npm run lint:style: any of: *.scss
